[Unit]
Description=Gunicorn daemon pour l'appli QCM du cours d'ondes (IPSA)
Requires=gunicorn-cours.socket
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/mnt/mariage_data/CoursOndes/web/server

ExecStart=/mnt/mariage_data/CoursOndes/venv/bin/python -m gunicorn \
          --access-logfile /mnt/mariage_data/CoursOndes/logs/gunicorn-access.log \
          --error-logfile /mnt/mariage_data/CoursOndes/logs/gunicorn-error.log \
          --workers 2 \
          --timeout 60 \
          --chdir /mnt/mariage_data/CoursOndes \
          web.server.app:app

[Install]
WantedBy=multi-user.target
