\BLOCK{include "preamble.tex.j2"}

\begin{document}
\vspace{-1.5cm}
\maketitle
\vspace{-0.5cm}
%\begin{center}\small (Chapitre de cours : \VAR{td.chapitre_cours})\end{center}
\bigskip

\bigskip

\BLOCK{set ex = td}
\BLOCK{set titre_exercice = false}
\BLOCK{include "exercice.tex.j2"}

\bigskip

\BLOCK{set titre_exercice = true}
\BLOCK{for ex in exercices}
    \BLOCK{include "exercice.tex.j2"}
    \bigskip
\BLOCK{endfor}

\end{document}
